# Finding Conan
We want to use Chatgpt4 to retrive information out of our scraped data - Polieimeldungen https://www.berlin.de/polizei/polizeimeldungen/

We want the following information:
1. When did the crime happened
2. What crime happened
3. Where did it happened

In [99]:
# Install in terminal
# pip install openai
#pip install --upgrade openai
#npm install openai

# **Import the necessary packages**

In [100]:
import os
import openai
import pandas as pd
from IPython.display import display, Markdown
import requests

# **Set API_Key secret**

In [101]:
import json
with open('secrets.json') as secrets_file:
 secrets = json.load(secrets_file)
API_Key = secrets['API_Key']

In [42]:
#test the open_ai key
#openai.api_key = API_Key

# **select a model**

https://platform.openai.com/docs/api-reference/models

In [ ]:
model_id = ‘gpt-4’

# **connect to API**

In [104]:
def chatGPT(text):
  url = "https://api.openai.com/v1/completions"
  headers = {
  "Content-Type": "application/json",
  "Authorization": f"Bearer {API_Key}",
  }
  data = { 
  "model": "text-davinci-003",
  "prompt": text,
  "max_tokens": 4000,
  "temperature": 1.0,
  }
  response = requests.post(url, headers=headers, json=data)

  output = response.json()['choices'][0]['text']
  
  return print(output) #we ant to have a table

chatGPT("Please list me the 10 most common crimes in Berlin, Germany.")

1. Theft / Burglary
2. Vehicle Crime
3. Vandalism
4. Fraud
5. Violent Crime
6. Shoplifting
7. Illegal Drugs
8. Cybercrime
9. Disorderly Conduct
10. Order Violations

# load json file

In [58]:
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

#test with one json file

pd.read_json("pressemitteilung.1127716.json")

,title,place,date,subtitle,data
0,Mann lebensgefährlich verletzt – Zeuge identif...,Lichtenberg,2022-01-20,,"{'number': '0163', 'description': 'Der gesucht..."
1,Mann lebensgefährlich verletzt – Zeuge identif...,Lichtenberg,2022-01-20,,{'number': 'Januar 2022: Mann lebensgefährlich...
2,Mann lebensgefährlich verletzt – Zeuge identif...,Lichtenberg,2022-01-20,,{'number': 'September 2021: Verletzter Mann au...